* {
  margin: 0;
  padding: 0;
}

header {
  width: 320px;
  height: 68px;
  margin: 0 auto;
  background-color: #d9d9d9;
  margin-bottom: 30px;
}

main {
  width: 320px;
  /* height: 1302px; */
  margin: 0 auto;
}

.main__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 320px;
  display: grid;

  grid-template-rows: 61px 61px 132px;
  grid-template-columns: 300px;

  gap: 20px;
  justify-content: center;
}

#item-0 {
  background-color: #d9d9d9;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}
#item-1 {
  background-color: #d9d9d9;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#item-2 {
  background-color: #d9d9d9;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.comments_block {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.title_comments img {
  width: 19px;
  height: 19px;
}

.title_comments {
  margin-top: 30px;

  border-top: 3px solid #d9d9d9;

  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 19px 8px;
  /* height: 85px; */
}

.first {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 3;
  padding-top: 13px;
}
.sort_count {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
.favorites {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}

.title_comments .first,
.title_comments .favorites {
  display: flex;
  flex-flow: row nowrap;
  /* gap: 13px; */
  /* padding-top: 25px; */
}

.title_comments .first {
  border-bottom: 3px solid #000000;
  width: 187px;
}

.title_comments p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
  white-space: nowrap;
}

.title_comments .first p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration-line: none;
}

.title_comments .first p:first-child {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 1;
}

.first {
  display: flex;
  flex-direction: row nowrap;
  gap: 14px;
}

.sort_count {
  display: flex;
  flex-direction: row nowrap;
  gap: 15px;
}

.favorites {
  display: flex;
  flex-direction: row nowrap;
  gap: 10px;
}

.main__left,
#item-3,
#item-4,
#item-5,
#item-6,
#item-7,
#item-8 {
  display: none;
}

.comment_author {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 15px 0px;
}

.avatar_author {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}

.form_send {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}

.send {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
}

.comment_author .avatar_author img,
.comment_people .avatar_author img,
.answer .avatar_author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text_on_message {
  /* display: flex;
  flex-direction: column; */
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  align-content: end;
}

.message {
  width: 280px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  opacity: 0;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px #00000033;
  border: none;
  padding-left: 20px;
}

.send {
  width: 300px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  background: #a1a1a1;
  border: none;
}

.name_author {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #122ac0;
}

.max_text {
  font-family: Inter;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
  justify-items: end;
}

.message {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
}

.send {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.author_and_message {
  display: grid;

  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-columns: 0.5fr 1.5fr;

  gap: 15px 0px;
}

.avatar_author {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}

.author_and_text {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.comment_text {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}

.under_text {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.date_and_time {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
}

.comment_text p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.under_text div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.under_text div:last-child {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0px;
}

.under_text div:last-child p {
  color: #8ac540;
  opacity: 1;
}

.under_text p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
}

.under_text button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.under_text button:hover {
  background-color: #000000;
  opacity: 0.4;
  cursor: pointer;
}

.under_text button:first-child {
  color: #ff0000;
}

.under_text button:last-child {
  color: #8ac540;
}

.under_text div:hover {
  cursor: pointer;
}

.author_and_text_answer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.name_author {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}

.img_and_author {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;

  display: flex;
  flex-flow: row nowrap;
  gap: 13px;
}

.date_and_time {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  justify-items: end;
}

.previously {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  opacity: 0.4;
}

.comment_people {
  margin-bottom: 11px;
}

.under_text_answer {
  justify-content: left;
  gap: 16px;
}

/* сортировка */

.sort_btn {
  display: none;
}

.sort_count .sort_name {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.sort_count:hover {
  cursor: pointer;
}

.sort_count:hover .sort_btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000001a;
  padding-left: 8px;
  padding-right: 22px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 30px;
}

.sort_btn p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #000000;
  opacity: 0.4;
}

.sort_btn div {
  display: flex;
  flex-flow: row nowrap;
  gap: 7px;
}

.sort_btn div img {
  opacity: 0;
}

.sort_btn div:hover img {
  opacity: 1;
}
