* {
  margin: 0;
  padding: 0;
}

header {
  width: 1440px;
  height: 101px;
  margin: 0 auto;
  background-color: #d9d9d9;
  margin-bottom: 40px;
}

main {
  width: 1440px;
  /* height: 1302px; */
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 86px;
}

.main__left {
  width: 203px;

  background-color: #d9d9d9;
}

.main__right {
  width: 1151px;
}

.content {
  width: 1022px;
  display: grid;

  grid-template-rows: 61px 61px 61px 61px 168px;
  grid-template-columns: 487px 487px;

  gap: 30px 48px;
}

#item-0 {
  background-color: #d9d9d9;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}
#item-1 {
  background-color: #d9d9d9;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}
#item-2 {
  background-color: #d9d9d9;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#item-3 {
  background-color: #d9d9d9;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}
#item-4 {
  background-color: #d9d9d9;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}
#item-5 {
  background-color: #d9d9d9;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}
#item-6 {
  background-color: #d9d9d9;
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
}
#item-7 {
  background-color: #d9d9d9;
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
}
#item-8 {
  background-color: #d9d9d9;
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 3;
}

.comments_block {
  display: flex;
  flex-direction: column;
  width: 1022px;
}

.title_comments {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  gap: 55px;
  height: 55px;
  border-top: 3px solid #d9d9d9;
  align-items: baseline;
}

.title_comments .first,
.title_comments .favorites {
  display: flex;
  flex-flow: row nowrap;
  gap: 13px;
  padding-top: 25px;
}

.title_comments .first {
  border-bottom: 3px solid #000000;
}

.title_comments p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
  white-space: nowrap;
}

.title_comments .first p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration-line: none;
}

.title_comments .first p:first-child {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 1;
}

.title_comments img {
  width: 21px;
  height: 21px;
}

.title_comments div:hover {
  cursor: pointer;
}

.comment_author {
  margin-top: 17px;
  gap: 15px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text_on_message {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.form_send {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.send {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}

.text_on_message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.comment_author .avatar_author img,
.comment_people .avatar_author img,
.answer .avatar_author img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
}

.message {
  width: 658px;
  /* min-height: 61px; */
  border-radius: 5px 5px 5px 5px;
  opacity: 1;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px #00000033;
  padding-left: 30px;
  padding-right: 19px;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  border: none;
  resize: none;
}

.send {
  /* align-self: flex-end; */
  width: 213px;
  height: 61px;
  border-radius: 5px 5px 5px 5px;
  background: #a1a1a1;
  border: none;
}

.name_author {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #122ac0;
}

.max_text {
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
}

.message {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* opacity: 0.4; */
}

.send {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.author_and_message {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 13px 0px;
}

.avatar_author {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  align-content: baseline;
}

.comment_people {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* gap: 30px; */
}

.author_and_text {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  align-items: baseline;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.comment_text {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.under_text {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}

.under_text div {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.date_and_time {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
}

.comment_text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  word-break: break-all;
}

.under_text p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  opacity: 0.4;
}

.under_text div:last-child p {
  color: #8ac540;
  opacity: 1;
}

.under_text button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.under_text button:hover {
  background-color: #000000;
  opacity: 0.4;
  cursor: pointer;
}

.under_text button:first-child {
  color: #ff0000;
}

.under_text button:last-child {
  color: #8ac540;
}

.under_text div:hover {
  cursor: pointer;
}

.answer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 28px;
  gap: 30px;
  padding-left: 91px;
}

.answer .previously {
  color: #000000;
  opacity: 0.4;
}

.img_and_author {
  display: flex;
  flex-flow: row nowrap;
  gap: 13px;
  align-items: baseline;
}

/* сортировка */

.sort_btn {
  display: none;
}

.sort_count .sort_name {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  min-width: 202px;
}

.sort_count:hover {
  cursor: pointer;
}

.sort_count:hover .sort_btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #0000001a;
  padding-left: 8px;
  padding-right: 22px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.sort_btn p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #000000;
  opacity: 0.4;
}

.sort_btn div {
  display: flex;
  flex-flow: row nowrap;
  gap: 7px;
}

.sort_btn div img {
  opacity: 0;
}

.sort_btn div:hover img {
  opacity: 1;
}

/* hover send button */
.hover-style:hover {
  cursor: pointer;
}

.warning_text {
  display: none;
}

.warning_text p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff0000;
}

.name_author_comment {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.4;
}
